<html lang="us">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>

        <div class="about contents">
            <h2>About us</h2>
                <p>Phill will get a job, Phill will be good again, Phillip will own a company, Phill will be famous</p>
                <p>Phill will get a job, Phill will be good again, Phillip will own a company, Phill will be famous</p>
                <p>Phill will get a job, Phill will be good again, Phillip will own a company, Phill will be famous</p>
        </div>        
    </body>
    <%- include('./partials/footer.ejs') %>
</html>