<div class="left-menu" >
    <ul>
        <li style="padding-top: 30px;"><a href="practice">Home</a></li>
        <li><a href="about">About Us</a></li>
        <li><a href="contact">Contact Us</a></li>
        <li><a href="staff">Our Staff</a></li>
        <li><a href="location">Our Locations</a></li>
        <li><a href="myAppointment">My Appointment</a></li>
    </ul>
</div>