<div class="footer">
    <div>
        <p>ABOUT US</p>
        We are a branch new Hair Salon
        <br>We provides excellent service 
        <br>as well as nail related supply
        <br>We make sure you'll be happy
    </div>
    <div>
        <p>CONTACT US</p>
        20228 Blythe Street
        <br>Winnetka, CA 91306
        <br>Tel: 818 649 4074
        <br>Hours: M - F 8:00 - 5:00
    </div>
    <div></div>
    <div></div>
</div>