<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device_width,initial_scale=1.0">
    <link rel="stylesheet" href="/index_main.css">
    <link rel="stylesheet" href="/index_top.css">
    <link rel="stylesheet" href="/index_center.css">
    <link rel="stylesheet" href="/index_bottom.css">
    <title><%= title %></title>
</head>